[submodule "modules/ui/compose-core"]
	path = ui/compose-core
	url = git@github.com:gromif/ui_compose_core.git
[submodule "ui/compose-calculator"]
	path = features/calculator
	url = git@github.com:gromif/ui_compose_calculator.git
[submodule "ui/compose-color-schemes"]
	path = ui/compose-color-schemes
	url = git@github.com:gromif/ui_compose_color_schemes.git
[submodule "crypto/tink"]
	path = core/crypto/tink
	url = git@github.com:gromif/crypto_tink.git
[submodule "core/tiles-with-coroutines"]
	path = core/tiles-with-coroutines
	url = git@github.com:gromif/core_tiles_with_coroutines.git
[submodule "crypto/tink-lab"]
	path = features/tink-lab
	url = git@github.com:gromif/crypto_tink_lab.git
