<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <service
            android:name="io.gromif.astracrypt.quick_actions.services.WipeTile"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_notification_app_icon"
            android:label="@string/settings_quickActions_dataDeletion"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            tools:targetApi="24">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>